@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.7.0');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.l-wrapper{
    margin: 20px auto;
    max-width: 700px;
}



header{
  background-color: white;
  border-bottom:solid grey 1px;
  font-weight: 350;
  height: 220px;
}
main{
    background-color: white;
}
footer{
    background-color: #4F4F4F;
    height: 100Px;
    margin-top: 50px;
}



ul li{
    display: inline-block;
    list-style: none;
    height: 50px;
    padding-right: 35px;
    padding-left: 35px;
    font-size:12px;
}
nav{
    text-align: center;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
}
span{
    font-family: 'Lato', sans-serif;
    color: black;
    text-align: center;
    font-size: 13px;
}
article{
    text-align: center;
}

section{
  margin-top: 50px;
}


img {
  max-width: 100%;
  margin-top: 20px;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    color:#D0021B;
}

li a:hover{
    text-decoration: none;
}

h1{
    font-family: 'Libre Baskerville', serif;
    font-size: 27px;
    text-align: center;
    line-height: 35px;
    font-weight:100;
    color: black;
}

h2{
    text-align: center;
    font-family: 'Lato', sans-serif;
    color: #535353;
    font-weight: 300;
    font-size: 20px;
    line-height: 25px;
}

h3{
    font-size: 15px;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: black;
}

p{
    color: black;
    font-family: 'Lato', sans-serif;
    text-align: left;
    font-size: 15px;
    line-height: 20px;
    font-weight: 300;
}




.sub-infos{
    text-align: center;
}

.event-objets{
    margin-top: 20px;
    height: 170px;
    width: 700px;
    background-color: #F2F2F2;
    display: flex;
}

.LIEUX h3{
    margin-top: 20px;
}

.LIEUX{
    margin-top: 20px;
    height: 170px;
    width: 700px;
    background-color: #F2F2F2;
    display: flex;
}


.objects{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    height: 60px;
    width: 200px;
    background-color: #F2F2F2;
    display: flex;
}

.objects h3{
  margin-left:auto;
  margin-right: auto;

}

.event-objets h3{
    margin-top: 20px;
}

.details-objets{
    padding-left: 50px;
    padding-right: 50px;
    max-width: 400px;
}


.event-objets p{
    flex: 0.5;

}

.positionnement-img-objet{
    padding: 0px 0px 0px 30px;
    height: 120px;
    width: 120px;
}

.LIEUX-POSITIONNEMENT{
    padding: 0px 0px 0px 30px;
    margin-bottom: 20px;
    height: 120px;
    width: 200px;
}


.Event-lieux-CTA{
  font-size: 14px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}
.Event-lieux-CTA:hover{}

.Event-lieux-CTA-focus{
  font-size: 14px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  margin-right: 20px;
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  color: #ffffffff;
  font-size: 14px;
  background: #34d1c4;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border-style: none;
}

.Event-lieux-CTA-focus:hover{
  background: #34d1c4;
  background-image: -webkit-linear-gradient(top, #34d1c4, #219c90);
  background-image: -moz-linear-gradient(top, #34d1c4, #219c90);
  background-image: -ms-linear-gradient(top, #34d1c4, #219c90);
  background-image: -o-linear-gradient(top, #34d1c4, #219c90);
  background-image: linear-gradient(to bottom, #34d1c4, #219c90);
  text-decoration: none;
  border-style: none;
}


/*
.btn {
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-family: Arial;
  color: #ffffffff;
  font-size: 14px;
  background: #34d1c4;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #34d1c4;
  background-image: -webkit-linear-gradient(top, #34d1c4, #219c90);
  background-image: -moz-linear-gradient(top, #34d1c4, #219c90);
  background-image: -ms-linear-gradient(top, #34d1c4, #219c90);
  background-image: -o-linear-gradient(top, #34d1c4, #219c90);
  background-image: linear-gradient(to bottom, #34d1c4, #219c90);
  text-decoration: none;
}
*/
